@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

:root {
  --main--bg--color: #ff7300;
  --sub--bg--color: #ff0500;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 15fr 1fr 9fr;
  grid-template-rows: repeat(2, 1fr);
}

.hero {
  background-color: var(--main--bg--color);
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  padding: 10px;
  color: var(--sub--bg--color);
}

.hero__item {
  display: grid;
  border-top: var(--sub--bg--color) 1px solid;
  border-bottom: var(--sub--bg--color) 1px solid;
  border-left: var(--sub--bg--color) 2px solid;
  border-right: var(--sub--bg--color) 2px solid;
  background-color: var(--sub--bg--color);
  grid-template-columns: 1fr 18fr 6fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
}

.hero__item:hover {
  cursor: pointer;
  color: white;
  border-color: white;
  background-color: white;
}

.hero__item > * {
  background-color: var(--main--bg--color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.hero__item > h3 {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  writing-mode: vertical-rl;
  transform: rotateZ(180deg);
}

.hero__item > h4,
.hero__item > a {
  text-align: center;
}

.hero__item > h1 {
  grid-column: 2 / -2;
  grid-row: 1 / -1;
  justify-content: start;
  font-size: 96px;
  font-weight: 500;
  padding: 0px 20px;
  white-space: nowrap;
}

.hero__item > a {
  color: var(--main--bg--color);
  background-color: (var(--sub--bg--color));
  text-decoration: none;
}

nav {
  background-color: #ff00ff;
  grid-row: 1 / 2;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 0px;
  font-size: 28px;
  font-weight: 500;
}

nav:nth-child(2) {
  background-color: #1901ff;
  grid-row: -2 / -1;
  transform: rotateZ(180deg);
}

.topics {
  background-color: var(--sub--bg--color);
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: 1fr;
}

.topic__header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  place-items: center start;
  font-size: 24px;
  font-weight: 500;
  padding: 0px 10px;
}

.topic {
  border-top: black 2px solid;
  margin: 10px;
}

.topic > h2 {
  padding-top: 10px;
  font-size: 24px;
  font-weight: 500;
}

.topic > h4 {
  font-weight: 500;
}
